/*GainTime v3.0.0 - CourageousWarrior - Modern*/


/* Transforme esse aquivo num arquivo sass. Distribua corretamente o css */
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
 font-family: "Poppins"!important;
}

.white-bg {
 background-color: black;
}

.gt-top-menu {
 transition: all .3s;
}

.gt-top-menu.transparent {
 box-shadow: none;
}

.gt-top-menu.transparent svg {
 fill: #FFF;
}

.gt-top-menu.transparent li:hover:not(.btn):not(.action):not(.tag),
.gt-top-menu.transparent li.active:not(.btn):not(.action):not(.tag) {
   border-color: #FFFFFF;
}

.gt-top-menu.transparent .logo {
 display: none;
}

.gt-top-menu.white-bg .w-logo {
 display: none;
}

.transparent .menu-toggle svg {
 color: #FFF;
 fill: #FFF;
}

.white-text {
 color: #FFF;
}

.black-text{
  color: #000000
}

.brown-text{
  color: rgb(65, 40, 27);
}

.dark-brown-text{
  color: rgb(32, 20, 14);
}

.centerex.overlay, .overlay {
 background: rgba(2, 0, 0, 0.45);
}

.medium-grey {
 background-color: #cfcfcf;
 position: relative;
}

.grey {
 background-color: #f2f2f2;
 position: relative;
}

.dark-brown {
  background-color: rgb(44, 27, 18);
  position: relative;
 }

.brown {
  background-color: rgb(65, 40, 27);
  position: relative;
 }

.medium-brown {
  background-color: rgba(65, 40, 27, 0.836);
  position: relative;
 }


.light-brown {
  background-color: rgba(65, 40, 27, 0.699);
  position: relative;
 }

 .blue {
   background-color: #7182a0;
   background: linear-gradient(#7182a0, #c2c9d6);
   position: relative;
 }

 .medium-blue{
  background-color: #8c9fbf;
  position: relative;
 }

 .light-blue{
   background-color: #b8c5dc;
   position: relative;
 }


.justify-content-center {
 justify-content: center;
}

.bbox {
 position: relative;
 overflow: hidden;
 cursor: pointer;
}

.bbox-img {
 position: relative;
 top: 0;
 transition: all ease-in .4s;
}

.bbox-text {
 transition: all linear .4s;
 background: #fff;
 position: absolute;
 padding: 1.5625rem 1.25rem;
 width: 100%;
 top: 100%;
 left: 0;
 text-align: center;
 z-index: 1;
}

.bbox:hover .bbox-img {
 top: -3em;
}

.bbox:hover .bbox-text {
 -webkit-transform: translateY(-100%);
 transform: translateY(-100%);
}

.price {
 padding: 50px 15px 15px 15px;
 border-top: 1px dashed rgba(0,0,0,0.125);
}

.price span {
 font-size: 4em;
}
.price span:before {
 content: "@";
 font-size: 0.6em;
}

.service > img {
 width: 70px
}
